<div class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <% if (name != '') {%>
    <h3>Modify device «<%=name%>» (<%=id%>)</h3>
    <% } else {%>
    <h3>New device</h3>
    <% } %>
  </div>
  <div class="modal-body">

	<div class="alert_placeholder"></div>

    <form class="form-horizontal">
	  <div class="control-group">
	    <label class="control-label" for="name">Device ID</label>
	    <div class="controls">
	      <input type="text" name="name" id="name" placeholder="name" value="<%=name%>">
	    </div>
	  </div>
	  
	  <div class="control-group">
	    <label class="control-label" for="display_name">Display name</label>
	    <div class="controls">
	      <input type="text" name="display_name" id="display_name" placeholder="display name" value="<%=display_name%>">
	    </div>
	  </div>
	  
	  <div class="control-group">
	    <label class="control-label" for="description">Description</label>
	    <div class="controls">
	      <input type="text" name="description" id="description" placeholder="description" value="<%=description%>">
	    </div>
	  </div>
	  
	  <div class="control-group">
	    <label class="control-label" for="type_id">Type</label>
	    <div class="controls">
	      <select class="selectpicker" " id="type_id" name="type_id">
	         <% for(i in types) {%>
	          <option value="<%=types[i].id%>" <% if (types[i].id == type_id) {%> selected='selected' <%}%>><%=types[i].display_name%></option>
	         <% } %>
			</select>
	    </div>
	  </div>
	  
	  <div class="control-group">
	    <label class="control-label" for="group_id">Group</label>
	    <div class="controls">
	      <select class="selectpicker" id="group_id" name="group_id">
			  <% for(i in groups) {%>
	          <option value="<%=groups[i].id%>"  <% if (groups[i].id == group_id) {%> selected='selected' <%}%>><%=groups[i].display_name%></option>
	         <% } %>
			</select>
	    </div>
	  </div>
	  
	  <div class="control-group">
		  <label class="control-label" for="enabled">Enabled</label>
		    <div class="controls">
		    <div class="switch">
		      <input type="checkbox" id="enabled" placeholder="enabled" name="enabled" <% if (enabled){%>checked='checked'<%}%> >
		      </div>
		    </div>
	   </div>
	   
	 <% if (creation_time != '') {%>
	   <div class="control-group">
		  <label class="control-label" for="enabled">Creation time</label>
		    <div class="controls"><span class="uneditable-input"><%=creation_time%></span></div>
	   </div>
	   <div class="control-group">
		  <label class="control-label" for="enabled">Last modification time</label>
		    <div class="controls"><span class="uneditable-input"><%=modification_time%></span></div>
	   </div>
	 <%}%>
	</form>

  </div>
  <div class="modal-footer">
    <a href="javascript: void(0);" class="btn btn-cancel">Cancel</a>
    <% if (id > 0) {%> 
    <a href="javascript: void(0);" class="btn btn-primary device-update">Update</a>
    <% } else { %>
    <a href="javascript: void(0);" class="btn btn-primary device-create">Create</a>
    <% } %>
  </div>
</div>