<%
	for (i = 0; i < values.length; i++) {
%>
		<td class="<%= values[i].type %>">
			<%
				switch (values[i].type) {
					case "string":
						if (values[i].editable == true) {
			%>
							<input type="text" value="<%= values[i].description %>" text="<%= values[i].description %>" />
			<%
						}
						else {
			%>
							<%= values[i].description %>
			<%
						}
						break;
					case "checkbox":
						values[i].callback = values[i].callback == undefined ? null : values[i].callback;
						values[i].parametres = values[i].parametres == undefined ? {} : values[i].parametres;
			%>
						<div id="chk<%=id%>" <%= plugin('webapp_checkbox', { 'id' : 'chk' + id , 'editable' : values[i].editable , 'value' : values[i].description , 'callback' : values[i].callback , 'parametres' : values[i].parametres } ) %>></div>
			<%
						break;
					case "button":
						switch (values[i].description) {
							case "more":
			%>
								<a class="btn btn-info btn-small more" type="button" href="#"><i class="icon-info-sign icon-white"></i>More</a>
								<div class="anchorInfo"></div>
			<%
								break;
							case "unsubscribe":
			%>
								<a class="btn btn-danger btn-small unsubscribe" type="button" href="#"><i class="icon-trash icon-white"></i>Unsubrscibe</a>
			<%
								break;
						}
						break;
					case "device":
			%>
						<%= values[i].description %> <a class="tool" data-original-title="Show on map" href="#" data-toggle="tooltip" data-placement="top" title=""><i class="icon-map-marker"></i></a>
			<%
						break;
					case "alarm":
						if (values[i].description == true) {
			%>
							<i class="icon-warning-sign"></i>
			<%
						}
						break;
					case "bool":
						if (values[i].description == true) {
			%>
							<span class="label label-success">Yes</span>
			<%
						}
						else {
			%>
							<span class="label label-important">No</span>
			<%
						}
						break;
					case "events":
						for (x = 0; x < values[i].description.length; x++) {
			%>
							<a class="tool" data-original-title="<%=values[i].description[x].message%>" href="#" data-toggle="tooltip" data-placement="top" title=""><span class="label label-<%=values[i].description[x].class%>"><%=values[i].description[x].code%></span></a>
			<%
						}
						break;
				}
			%>
		</td>
<%
	}
%>