
	<td><a class="devicename" name="<%=device%>"><%=device%></a></td>
	<td></td>
	<td>
		<a class="tool" data-original-title="" href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Position">
			<span class="label label-info counter" >1</span>
		</a>
	</td>
	<td><% var cign = (data.objs.ignition == 1 ? "success" : "important"); 
		   var tign = (data.objs.ignition == 1 ? "on" : "off");
		%>
		<span class="label ignition label-<%=cign%>" ><%=tign%></span>
	</td>
	<td><% var cmov = (data.objs.moving_status == 1 ? "success" : "important"); 
		   var tmov = (data.objs.moving_status == 1 ? "moving" : "stop");
		%>	
		<span class="label moving label-<%=cmov%>" ><%=tmov%></span>	
	<td><span class="speed"><%=data.speed%>Km/h</span></td>
	<td>
		<a class="btn btn-mini more" type="button" href="#"><i class="icon-info-sign"></i></a>
		<a class="btn btn-mini settings" type="button" href="#"><i class="icon-wrench"></i></a>
		<%
			if (webcams != undefined) {
				if (webcams.length > 0) {
		%>
					<a class="btn btn-mini webcam" type="button" href="#"><i class="icon-facetime-video"></i></a>
		<%
				}
			}
		%>
		<a class="tool" data-original-title="" href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Command queue">
			<span class="label event-command-counter" style="visibility: hidden">0/0</span>
		</a>				
		<div class="anchorInfo"></div>
	</td>



