  	<td><%=id%></td>
  	<td>
	  	<select class="selectpicker span2" name="vehicleId">
		  <% for(i in vehicles) {%>
	      <option value="<%=vehicles[i].id%>"  <% if (vehicles[i].id == vehicleId) {%> selected='selected' <%}%>><%=vehicles[i].displayName%></option>
	     <% } %>
		</select>
  	</td>
  	<td>
  	<select class="selectpicker span2" name="driverId">
		  <% for(i in drivers) {%>
	      <option value="<%=drivers[i].id%>"  <% if (drivers[i].id == driverId) {%> selected='selected' <%}%>><%=drivers[i].displayName%></option>
	     <% } %>
		</select>
  	</td>
  	<td>
	  	<div class="input-append date beginAssignement" data-date="<%=beginAssignement%>" data-date-format="yyyy-mm-dd">
	  		<input name="beginAssignement" class="span2" size="10" type="text" value="<%=beginAssignement%>" readonly>
	  		<span class="add-on"><i class="icon-th"></i></span>
		</div>
  	</td>
  	<td>
  		<div class="input-append date endAssignement" data-date="<%=endAssignement%>" data-date-format="yyyy-mm-dd">
	  		<input name="endAssignement" class="span2" size="10" type="text" value="<%=endAssignement%>" readonly>
	  		<span class="add-on"><i class="icon-th"></i></span>
		</div>
  	</td>
  	<td>
	<div class="switch">
	    <input name="enabled" type="checkbox" id="va-cb-<%=id%>" <% if (enabled){%>checked<%}%> >
	</div>
  	</td>
  	<td>
  		<input type="hidden" name="id" value="<%=id%>">
  		<input type="hidden" id="version" name="version" value="<%=version%>">
  		<nobr>					
		    <div class="btn-group">
			    <a class="btn btn-danger dropdown-toggle" data-toggle="dropdown" href="#">
			    	Actions
			    	<span class="caret"></span>
			    </a>
			    <ul class="dropdown-menu pull-right">
			    	<li><a tabindex="-1" href="#" class="btn-edit">Edit</a></li>
			    	<li><a tabindex="-1" href="#" class="btn-delete">Delete</a></li>
			    </ul>
		    </div>
		</nobr>
  	</td>
